<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${Title}</title>
    <link ws-replace="styles" />
  </head>
  <body>
    <header class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">${Title}</h1>
          <h2 class="subtitle">${Subtitle}</h2>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content" ws-hole="Body">
              <p ws-template="Byline"><small><em>By ${Author} on ${Date}</em></small></p>
            </div>
            <nav class="level article-prev-next">
              <div class="level-left">
                <div class="level-item">
                  <a href="${PrevUrl}">${PrevTitle}</a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a href="${NextUrl}">${NextTitle}</a>
                </div>
              </div>
            </nav>
          </div>
          <div class="column is-one-quarter">
            <aside class="menu">
              <ul class="menu-list">
                <li><a href="/">About</a></li>
              </ul>
              <div ws-replace="Menu" ws-children-template="MenuMonth">
                <p class="menu-label">${Date}</p>
                <ul class="menu-list" ws-hole="Articles">
                  <li ws-template="MenuArticle"><a href="${Url}">${Title}</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          &copy; 2019 Loïc Denuzière.
          Website content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
          Source code <a href="https://github.com/tarmil/tarmil.github.io">on GitHub</a> and licensed under <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
