name: deploy

on:
  push:
    branches-ignore: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '10.0.101'
      - name: Build the application
        run: dotnet build -c release
      - name: Publish to github pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: master
          publish_dir: ./bin/html
        if: github.ref == 'refs/heads/source' && github.repository == 'Tarmil/blog'
